*
{
    padding: 0;
    margin: 0;
}
nav{
    background-color:white ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: fixed;
    width: 100%;
    color:#FB6F92 ;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
nav ul a{
    text-decoration: none;
    color: white;
    margin: 10px;
     color:#FB6F92 ;
     font-weight: bold;
}
nav h1{
    font-family: "Pacifico", cursive;
    font-size: 40px;
}
nav ul{
    display: flex;
}
nav ul li
{
    list-style-type: none;
}
nav a:hover
{
    color: blue;
}
.Hero
{
    width: 100%;
    height:100vh;
    background-image: url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;


}
.Hero h1,p{
     color:#fc255a ;
     font-weight: bold;
}
.Hero  h1{
    font-size: 50px;
}
.Hero p{
    font-size: large;
}
.Hero button{
    background-color:#fc255a;
    color: aliceblue;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    border: none;
    margin-top: 40px;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Mozilla Headline", sans-serif;
    color: #fc255a;
}
.about img{
    height: 300px;
    width: 300px;
    border-radius:50% ;
    margin: 50px;
}
.about div{
    
    margin: 50px;
}
.about
{
    display: flex;
    margin: 0;
    width: 100%;
    
}
.about p{
    font-size: large;
    font-style: italic;
    margin-top: 0px;
}
.product
{
    display: flex;
    gap:8%;
    align-items: center;
    justify-content: center;
}
.product-card
{
    width: 25%;
    height: 300px;
    border-radius: 20px;
    margin: 20px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
#pro-img1
{
    background-image: url(images/p1.png);
}
#pro-img2
{
    background-image: url(images/p2.png);
}
#pro-img3
{
    background-image: url(images/p3.png);
}
.pro-con
{
    background-color: white;
    height: 40px;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    color: #fc255a;
    margin-top: 260px;
}
.review
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
    margin: 15px;
    
}
.reviews
{
    width: 40%;
    height: auto;
    margin: 20px 5px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.reviews p{
    color: black;
    font-style: italic;
}
.reviews h1 i{
    color: rgb(250, 192, 3);
    font-size: medium;
} 
.reviews h1{
    padding-right: 30px;
}
footer{
    background-color: #fc255a;

}
.footer-con p ,h3
{
    color: white;

}
footer p{
    color: white;
}
.footer-con{
    display: flex;
    margin: 5px;
    justify-content: space-evenly;
}
.footer-con i{
    margin-right:10px;
}
.con3 li a{
    text-decoration: none;
    color: white;
    font-style: italic;
}